<style>
    #logo-bar {
        margin-right: 15px;
    }

    .k-animation-container {
        padding-right: 30px !important;
    }
</style>

<h1>Knowledge base</h1>
{% comment %}

{% include search.html %}
{% javascript kb %}

{% endcomment %}