#feedback-section-dummy {
    height: 50px;
    color: #FFFFFF;
    display: none;
}

#feedback-section {
    background-color: #1976d2;
    color: #FFFFFF;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

#feedback-section.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .9;
    z-index: 1015;
}

#close-button {
    display: none;
    right: 1.2em;
    bottom: 9px;
    position: absolute;
    cursor: pointer;
}

#feedback-section.fixed #close-button {
    display: block;
}

#close-button img {
    width: 24px;
    height: 24px;
}

#feedback-section .side-title {
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 15px;
    flex: 1;
}

footer,
#feedback-menu-container {
    max-width: 930px;
    padding: 13px 4em 13px 0;
}

footer,
#feedback-menu-container {
    margin-left: 18%;
    padding-left: 6em;
}

@media (max-width: 1200px) {
    footer,
    #feedback-menu-container {
        margin-left: 0;
        padding-left: 2em;
    }
    #feedback-section.fixed {
        position: static;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 1;
    }
    #feedback-section-dummy {
        display: none !important;
    }
}

#helpful-buttons-container,
#feedback-submitted-container {
    font-size: 20px;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#helpful-buttons-container .button {
    text-transform: uppercase;
    text-align: center;
    color: #b4daff;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#yesButton {
    margin-right: 10px;
}

#noButton {
    margin-left: 10px;
}

#helpful-buttons-container .button:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.k-widget.k-window.k-window-titleless {
    width: 460px !important;
    top: 50% !important;
    left: 50% !important;
    margin-left: -230px;
    margin-top: -250px;
    background-color: #FFFFFF;
    border: none;
    position: fixed;
    box-sizing: border-box;
}

@media (max-width: 460px) {
    .k-widget.k-window.k-window-titleless {
        padding: 0;
        margin: 0;
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
    }
    #feedback-form-window button {
        margin-top: 15px !important;
    }
}

#feedback-form-window {
    max-height: 580px !important;
    padding: 30px 15px 30px 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#feedback-form-window>* {
    padding-right: 15px;
}

#feedback-form {
    -webkit-flex: 1;
    -moz-flex: 1;
    overflow: auto;
}

#feedback-form span.required-field:after {
    content: "* required";
    font-size: 11px;
    float: right;
}

#feedback-form-window input::-webkit-input-placeholder,
#feedback-form-window textarea::-webkit-input-placeholder,
#feedback-form-window input:-moz-placeholder,
#feedback-form-window textarea:-moz-placeholder,
#feedback-form-window input::-moz-placeholder,
#feedback-form-window textarea::-moz-placeholder,
#feedback-form-window input:-ms-input-placeholder,
#feedback-form-window textarea:-ms-input-placeholder {
    color: #d9d9d9;
}

#feedback-form-window .feedback-extw__title {
    margin: 0;
    font-size: 24px;
}

#feedback-form-window .feedback-extw__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

#feedback-form-window p:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.12em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

#feedback-form textarea {
    margin: 12px 0 0px !important;
    margin-top: 2px !important;
}

#feedback-checkbox-area label {
    display: block;
    margin: 5px 0 0;
    padding: 5px 0 0;
}

#feedback-checkbox-area #feedback-email-input{
    margin-top: 20px !important;
}

#feedback-extw__checkbox:after {
    content: "";
    display: block;
    clear: both;
}

#feedback-form .checkbox__input {
    float: left;
}

#feedback-form .checkbox__text {
    line-height: 18px;
    margin-left: 5px;
}

#feedback-form .feedback-extw__textarea,
#feedback-form .feedback-extw__input {
    padding: 10px;
    border: 1px solid #d9d9d9;
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    font-style: italic;
}

#feedback-form .feedback-extw__textarea {
    resize: none;
}

#feedback-form .feedback-extw__input,
#feedback-form .feedback-extw__textarea {
    margin: 12px 0 6px;
}

#feedback-form-window button {
    margin-top: 30px;
    line-height: 0.933em;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    padding: 0.667em 2.000em;
    background-color: #015991;
    color: #fff;
    border-width: 0;
    cursor: pointer;
    background-clip: padding-box;
    border: 1px solid #015991;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#feedback-form-window button:hover {
    background-color: #013a5e;
}

#form-submit-button {
    margin-left: 5px;
}

button#form-close-button {
    background-color: #fff;
    color: #555;
    border: 1px solid #ccc;
}

button#form-close-button:hover {
    background-color: #ccc;
}

#feedback-form span.k-tooltip {
    border: 0;
    color: #ff0000;
    font-style: italic;
    font-size: 12px;
    padding: 0 0 6px !important;
}